
@import './index.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
.app-container {
  background-color: #d0bf06;
  min-height: 100vh; /* Ensure the background color covers the whole viewport */
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Add background color and style for the navigation bar */
.navbar {
  /* background-color: #f2eded; */
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
}

/* Style the links in the navigation bar */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 0px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Style the authentication links in the navigation bar */
.nav-auth {
  list-style: none;
  display: flex;
}

.nav-auth li {
  margin-left: 10px;
}

.nav-auth li:first-child {
  margin-left: 0;
}

